.btn {
  width: auto;
  height: auto;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: .4rem 2rem;
  cursor: pointer;
}

.btn-ligth {
  background-color: transparent;
  color: #fff;
}

.btn-ligth:hover {
  background-color: #0f1116;
  color: #fff;
}
